<section id="intro">
	<div class="overlay">
		<div class="container">
			<div class="col-lg-10 col-lg-offset-1">
				<div id="main-image">
					<%= image_tag "kwotelarge.png" %>
				</div>
				<h1 class="center tagline">Life Insurance Agents You Can Trust</h1>
				<br/>
				<p class="center large">Shopping for insurance shouldn't be painful. Our network of verified agents spans the entire country. Browse the site and, when you're ready, contact one of our agents to get situated. If you have any questions, feel free to contact us.</p>
				<br/>
				<div class="col-lg-4 col-lg-offset-4">
					<div class="btn btn-primary btn-block btn-lg">Find An Agent</div>
				</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="col-lg-6">
			<h3>Recent Articles</h3>
			<h4>Finding the right policy</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, quidem, pariatur laudantium at distinctio placeat harum praesentium porro modi blanditiis voluptatem voluptatum sint sit similique delectus error alias sunt aliquid.</p>
		</div>
		<div class="col-lg-6">
			<h3>Get A Kwote</h3>
			<%= render "leads/form" %>
		</div>
	</div>
</section>