<div class="col-lg-9">
	<h1>Welcome To Kwote Nation</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, magni, assumenda excepturi enim qui similique dolore minus est velit ex quod eum cupiditate eveniet odio iusto consequuntur quisquam quas earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, aliquam, consectetur, deleniti, qui earum fuga provident exercitationem vero quos nobis ex rerum quam eligendi quisquam dicta doloremque voluptates. Iste, a.</p>
</div>

<div class="col-lg-3">
	<h3>Get A Kwote</h3>
	<%= render "leads/form" %>
</div>