<div class="col-lg-12">
	<div id="main-image">
		<%= image_tag "kwotelarge.png" %>
	</div>
	<hr/>
	<h1 class="center">Life Insurance Agents You Can Trust</h1>
	<hr/>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, magni, assumenda excepturi enim qui similique dolore minus est velit ex quod eum cupiditate eveniet odio iusto consequuntur quisquam quas earum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, aliquam, consectetur, deleniti, qui earum fuga provident exercitationem vero quos nobis ex rerum quam eligendi quisquam dicta doloremque voluptates. Iste, a.</p>
</div>

<div class="col-lg-6"></div>
<div class="col-lg-6">
	<h3>Get A Kwote</h3>
	<%= render "leads/form" %>
</div>