// Variable Overrides

$font-size-base: 16px;
$line-height-base: 1.75;
$brand-primary: #1D91CF;
$navbar-default-bg: #1D91CF;
$navbar-default-link-color: #F8F8F8;
$navbar-default-color: #F8F8F8;

@import 'bootstrap';

body{
	padding-top: 70px;
}

.navbar-nav > li{
	padding-right: 2em;
}